$button-width: 113px;
$button-height: 53px;
$button-border-radius: 15px;

.primaryButton {
	@include typography.body-text-bold;
	color: var(--button-primary-text);
	background-color: var(--button-primary-bg);
	width: $button-width;
	height: $button-height;
	border-radius: $button-border-radius;
	cursor: pointer;

	&:hover {
		background-color: var(--button-primary-bg-hover);
	}
}
