$input-width: 320px;
$input-height: 45px;

.inputFieldContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: $input-width;

	label {
		@include typography.small-text-bold;
		color: var(--input-label);
	}

	> div {
		width: 100%;
		position: relative;
	}

	input,
	select {
		@include typography.body-text;
		height: $input-height;
		width: 100%;
		border: 1px solid var(--input-border);
		color: var(--input-text);
		padding: 17px 20px;
		border-radius: 10px;

		&:hover {
			border: 1px solid var(--input-border-hover);
			color: var(--input-text-hover);
		}

		&:focus {
			border: 1px solid var(--input-border-active);
			color: var(--input-text-active);
		}

		&:valid {
			color: var(--input-text-filled);
		}
	}

	.icon,
	.circleIcon {
		position: absolute;
		left: 15px;
		bottom: 50%;
		transform: translateY(50%);
		width: 24px;
		height: 24px;
		margin-left: 0;
	}

	.icon {
		background: url("../../../../public/assets/icons/icon-caret-right.svg") no-repeat center;
	}

	.circleIcon {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: green;
	}

	.icon + input,
	.circleIcon + input {
		padding: 17px 40px;
	}

	span {
		@include typography.small-text;
		color: var(--input-helperText);
		align-self: flex-end;
	}
}
