.tertiaryButton {
	@include typography.body-text;
	color: var(--button-tertiary-text);
	background-color: var(--button-tertiary-bg);
	width: 113px;
	height: 53px;
	border-radius: 15px;
	cursor: pointer;

	&::after {
		content: "";
		display: inline-block;
		width: 6px;
		height: 11px;
		mask: url("../../../../public/assets/icons/icon-caret-right.svg") no-repeat center;
		background-color: var(--button-tertiary-text);
		margin-left: 8px;
	}

	&:hover {
		background-color: var(--button-tertiary-bg-hover);
		color: var(--button-tertiary-text-hover);

		&::after {
			background-color: var(--button-tertiary-text-hover);
		}
	}
}
