$button-width: 113px;
$button-height: 53px;
$button-border-radius: 15px;

.destroyButton {
	@include typography.body-text-bold;
	color: var(--button-destroy-text);
	background-color: var(--button-destroy-bg);
	width: $button-width;
	height: $button-height;
	border-radius: $button-border-radius;
	cursor: pointer;

	&:hover {
		background-color: var(--button-destroy-bg-hover);
		color: var(--button-destroy-text-hover);
	}
}
