$button-width: 276px;
$button-height: 56px;
$button-active-border-radius: 0px 5px 5px 0px;
$button-border-left: 4px solid var(--button-menu-detail-active);
$caret-width: 17px;
$caret-height: 9px;
$caret-margin: 0px 23px 0px 23px;

.sideButton {
	@include typography.body-text-large;
	color: var(--button-menu-text);
	background-color: var(--button-menu-bg);
	cursor: pointer;
	width: $button-width;
	height: $button-height;
	display: flex;
	align-items: center;
	transition: all 0.1s;

	&::before {
		content: "";
		display: inline-block;
		width: $caret-width;
		height: $caret-height;
		mask: url("../../../../public/assets/icons/icon-caret-right.svg") no-repeat center;
		background-color: var(--button-menu-text);
		margin: $caret-margin;
	}

	&:hover:not(&.sideButton_active) {
		color: var(--button-menu-text-hover);

		&::before {
			background-color: var(--button-menu-text-hover);
		}
	}

	&_active {
		color: var(--button-menu-text-active);
		background-color: var(--button-menu-bg-active);
		border-left: $button-border-left;
		border-radius: $button-active-border-radius;

		&::before {
			background-color: var(--button-menu-detail-active);
		}
	}
}
