// Primary colors

// Beige
$primary-beige-100: #f8f4f0;
$beige-500: #98908b;

// Grey
$primary-grey-100: #f2f2f2;
$primary-grey-300: #b3b3b3;
$primary-grey-500: #696868;
$primary-grey-900: #201f24;

// White
$primary-white: #ffffff;

// Secondary colors

$secondary-green: #277c78;
$secondary-yellow: #f2cdac;
$secondary-cyan: #82c9d7;
$secondary-navy: #626070;
$secondary-red: #c94736;
$secondary-purple: #826cb0;

// Tertiary colors

$tertiary-purple: #af81ba;
$tertiary-turquoise: #597c7c;
$tertiary-brown: #93674f;
$tertiary-magenta: #934f6f;
$tertiary-blue: #3f82b2;
$tertiary-navyGrey: #97a0ac;
$tertiary-armyGreen: #7f9161;
$tertiary-gold: #cab361;
$tertiary-orange: #be6c49;
