$font-publicSansBold: local("PublicSans-Bold", "../../fonts/PublicSans-Bold.ttf");
$font-publicSans-Italic: local("PublicSans-Italic-VariableFont", "../../fonts/PublicSans-Italic-VariableFont_wght.ttf");
$font-publicSans-Regular: local("PublicSans-Regular", "../../fonts/PublicSans-Regular.ttf");
$font-publicSans-VariableFont: local("PublicSans-VariableFont", "../../fonts/PublicSans-VariableFont_wght.ttf");
