@use "./palette";

// Default theme

:root {
	// Text
	--text-primary: #{palette.$primary-grey-900};
	--text-secondary: #{palette.$primary-grey-500};
	--text-tertiary: #{palette.$primary-white};

	// Background
	--background-primary: #{palette.$primary-beige-100};
	--background-secondary: #{palette.$primary-grey-900};
	--background-tertiary: #{palette.$primary-white};

	// Buttons
	--button-primary-bg: #{palette.$primary-grey-900};
	--button-primary-text: #{palette.$primary-white};
	--button-primary-bg-hover: #{palette.$primary-grey-500};

	--button-secondary-bg: #{palette.$primary-beige-100};
	--button-secondary-text: #{palette.$primary-grey-900};
	--button-secondary-bg-hover: #{palette.$primary-white};
	--button-secondary-stroke-hover: #{palette.$primary-beige-500};

	--button-tertiary-bg: transparent;
	--button-tertiary-text: #{palette.$primary-grey-500};
	--button-tertiary-text-hover: #{palette.$primary-grey-900};

	--button-destroy-bg: #{palette.$secondary-red};
	--button-destroy-text: #{palette.$primary-white};
	--button-destroy-bg-hover: #{palette.$secondary-lighter-red};
	--button-destroy-text-hover: #{palette.$primary-lighter-white};

	--button-menu-bg: transparent;
	--button-menu-text: #{palette.$primary-grey-300};
	--button-menu-text-hover: #{palette.$primary-grey-100};
	--button-menu-bg-active: #{palette.$primary-beige-100};
	--button-menu-text-active: #{palette.$primary-grey-900};
	--button-menu-detail-active: #{palette.$secondary-green};

	--button-pagination-bg: #{palette.$primary-white};
	--button-pagination-text: #{palette.$primary-grey-900};
	--button-pagination-border: #{palette.$primary-beige-500};
	--button-pagination-icon: #{palette.$primary-beige-500};
	--button-pagination-bg-hover: #{palette.$primary-beige-500};
	--button-pagination-text-hover: #{palette.$primary-white};
	--button-pagination-border-hover: none;
	--button-pagination-icon-hover: #{palette.$primary-white};
	--button-pagination-bg-active: #{palette.$primary-grey-900};
	--button-pagination-text-active: #{palette.$primary-white};

	// Input
	--input-text: #{palette.$primary-beige-500};
	--input-border: #{palette.$primary-beige-500};
	--input-text-hover: #{palette.$primary-grey-900};
	--input-border-hover: #{palette.$primary-grey-500};
	--input-text-active: #{palette.$primary-grey-900};
	--input-border-active: #{palette.$primary-grey-900};
	--input-text-filled: #{palette.$primary-grey-900};
	--input-border-filled: #{palette.$primary-beige-500};
	--input-helperText: #{palette.$primary-beige-500};
	--input-label: #{palette.$primary-grey-500};
}

// Alternative theme
.dark-mode {
}
