@use "./fonts";
@use "./spacing";

@mixin heading1 {
	font-family: "Public Sans Bold";
	font-size: 32px;
	line-height: 120%;
	letter-spacing: 0px;
}

@mixin heading2 {
	font-family: "Public Sans Bold";
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0px;
}

@mixin body-text-large {
	font-family: "Public Sans Bold";
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0px;
}

@mixin body-text {
	font-family: "Public Sans Bold";
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0px;
}

@mixin small-text {
	font-family: "Public Sans Regular";
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 0px;
}

@mixin small-text-bold {
	font-family: "Public Sans Bold";
	font-size: 12px;
	line-height: 120%;
	letter-spacing: 0px;
}
